.bg-default {
    background-color: #172b4d !important;
}

.bg-gradient-primary {
    background: linear-gradient(87deg, #172b4d 0, #172b4d 100%) !important;
}


.bg-gradient-default {
    background: linear-gradient(87deg, #172b4d 0, #461f23 100%) !important;
}